
<ul class="breadcrumb">
  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
  <li class="active">Products Name</li>
</ul>
<h3> Products Name <small class="pull-right"> 40 products are available </small></h3>
<hr class="soft"/>
<p>
  Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - that is why our goods are so popular and we have a great number of faithful customers all over the country.
</p>
<hr class="soft"/>
<form class="form-horizontal span6">
  <div class="control-group">
    <label class="control-label alignL" style="color: black">Sort By </label>
    <select>
      <option>Priduct name A - Z</option>
      <option>Priduct name Z - A</option>
      <option>Priduct Stoke</option>
      <option>Price Lowest first</option>
    </select>
  </div>
</form>
