
<div id="mainBody">
  <div class="container">
    <div class="row">
      <app-sidecar> </app-sidecar>
      <div class="span9">

        <ng-container *ngIf="selectedProductsState$ | async as state" [ngSwitch]="state.dataState">
          <ng-container *ngSwitchCase="ProductStateEnum.LOADING">
            <h1>data is LOADING .....................................</h1>
          </ng-container>

          <ng-container *ngSwitchCase="ProductStateEnum.LOADED">
            <app-selected-new-products [newProducts]="state.products"></app-selected-new-products>
          </ng-container>

          <ng-container *ngSwitchCase="ProductStateEnum.ERROR">
            <h1>data is loaded with error : / {{state.errorMessage}}  /</h1>
          </ng-container>
        </ng-container>


        <ng-container *ngIf="productState$ | async as state" [ngSwitch]="state.dataState">
            <ng-container *ngSwitchCase="ProductStateEnum.LOADING">
              <h1>data is LOADING .....................................</h1>
            </ng-container>

            <ng-container *ngSwitchCase="ProductStateEnum.LOADED">
              <app-products-list [products]="state.products"></app-products-list>
            </ng-container>

            <ng-container *ngSwitchCase="ProductStateEnum.ERROR">
              <h1>data is loaded with error : / {{state.errorMessage}}  /</h1>
            </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
</div>
