
<ng-container *ngIf="pageInfo">
  <div class="pagination">
    <ul>
      <li ><a (click)="previousPage()" style="cursor: pointer">&lsaquo;</a></li>
      <li *ngFor="let page of [].constructor(pageInfo.totalPages); let i  = index" style="color: black">
        <a *ngIf="i === pageInfo.number" style="background-color: #0e90d2">{{i}}</a>
        <a (click)="onPageHandle(i)" *ngIf="i !== pageInfo.number" style="cursor: pointer">{{i}}</a>
      </li>
      <li><a (click)="nextPage()" style="cursor: pointer" >&rsaquo;</a></li>
    </ul>
  </div>
  <br class="clr"/>

</ng-container>
