<div class="thumbnail" style="background-color: white">
  <img src="assets/template/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
  <div class="caption">
    <h5>Kindle</h5>
    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
  </div>
</div><br/>

<div class="thumbnail" style="background-color: white">
  <img src="assets/template/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
  <div class="caption">
    <h5>Kindle</h5>
    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
  </div>
</div><br/>

