depName: mongodb-dep
replicasNum: 1
podName: mongodb-pod
imageName: mongo
imageVersion: latest
containerName: mongodb-container
containerPort: 27017
containerEnvVar:
  - name: MONGO_INITDB_ROOT_USERNAME
    value: "admin"
  - name: MONGO_INITDB_ROOT_PASSWORD
    value: "password"
maxMemory: 1Gi
maxCpu: 180m
memory: 200Mi
cpu: 70m
serviceName: mongodb-svc
servicePort: 27017
serviceType: ClusterIP