<ng-container *ngIf="product">

  <div id="gallery" class="span3">
    <a title="Fujifilm FinePix S2950 Digital Camera">
      <img src="{{product.productImagesBas64[0]}}" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera"/>
    </a>
    <div id="differentview" class="moreOptopm carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <a> <img style="width:29%" src="{{product.productImagesBas64[0]}}" alt=""/></a>
          <a> <img style="width:29%" src="{{product.productImagesBas64[1]}}" alt=""/></a>
          <a > <img style="width:29%" src="{{product.productImagesBas64[2]}}" alt=""/></a>
        </div>
      </div>
      <!--
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  -->
    </div>

    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="btn"><i class="icon-envelope"></i></span>
        <span class="btn" ><i class="icon-print"></i></span>
        <span class="btn" ><i class="icon-zoom-in"></i></span>
        <span class="btn" ><i class="icon-star"></i></span>
        <span class="btn" ><i class=" icon-thumbs-up"></i></span>
        <span class="btn" ><i class="icon-thumbs-down"></i></span>
      </div>
    </div>

  </div>

</ng-container>
