<li class="span3" style="margin: 5px">
  <div class="thumbnail" style="background-color: white">
    <i class="tag"></i>
    <a (click)="onSelectedProduct()" style="cursor: pointer"><img src="{{newProduct.productImagesBas64[0]}}" alt=""></a>
    <div class="caption">
      <h5>{{newProduct.name}}</h5>
      <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">
        {{newProduct.productPrice.symbol}}{{newProduct.productPrice.price}}
      </span></h4>
    </div>
  </div>
</li>
