
<ul class="breadcrumb">
  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
  <li class="active">Products Name</li>
</ul>
<h3> Searched Products <small class="pull-right"> 40 products are available </small></h3>
<hr class="soft"/>

<hr class="soft"/>
<form class="form-horizontal span6">
  <div class="control-group">
    <label class="control-label alignL" style="color: black">Sort By </label>
    <select>
      <option>Priduct name A - Z</option>
      <option>Priduct name Z - A</option>
      <option>Priduct Stoke</option>
      <option>Price Lowest first</option>
    </select>
  </div>
</form>
