<div class="well well-small"><a id="myCart" href="product_summary.html"><img src="assets/template/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
<ul id="sideManu" class="nav nav-tabs nav-stacked">
  <li class="subMenu open"><a> ELECTRONICS [230]</a>

  </li>
  <li class="subMenu"><a> CLOTHES [840] </a>

  </li>
  <li class="subMenu"><a>FOOD AND BEVERAGES [1000]</a>

  </li>
  <li><a href="products.html">HEALTH & BEAUTY [18]</a></li>
  <li><a href="products.html">SPORTS & LEISURE [58]</a></li>
  <li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>
</ul>
<br/>
