<div id="mainBody">
  <div class="container">
    <div class="row">
      <app-sidecar> </app-sidecar>
      <div class="span9">


        <app-products-of-category-list-header></app-products-of-category-list-header>

        <br class="clr"/>
        <div class="tab-content">

          <div class="tab-pane  active" id="blockView">
               <app-products-list ></app-products-list>
            <hr class="soft"/>
          </div>
        </div>

        <app-paggination> </app-paggination>

      </div>
    </div>
  </div>
</div>

