<ng-container *ngIf="product">

  <div class="span9">
    <ul id="productDetail" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
      <li><a href="#profile" data-toggle="tab">Related Products</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
        <h4>Product Information</h4>
        <table class="table table-bordered">
          <tbody>
          <tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
          <tr class="techSpecRow"><td class="techSpecTD1">quntity: </td><td class="techSpecTD2">{{product.quantity}}</td></tr>
          <tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2">{{product.brand}}</td></tr>
          <tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">{{product.name}}</td></tr>
          <tr class="techSpecRow"><td class="techSpecTD1">Released on:</td><td class="techSpecTD2">{{productService.getDate(product)}}</td></tr>
          <tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td>
            <td class="techSpecTD2"> {{product.dimension.height}}cm h  x {{product.dimension.weight}}cm w x {{product.dimension.larger}}cm l x {{product.dimension.weight}}Kg
            </td></tr>
          </tbody>
        </table>

      </div>

      <!--  similar products (product list)    -->

    </div>
  </div>


</ng-container>
