<ng-container *ngIf="product">

  <div class="span6">
    <h3>{{product.name}}  </h3>
    <hr class="soft"/>

    <form [formGroup]="addProductFrom" class="form-horizontal qtyFrm">
      <div class="control-group">
        <label class="control-label" style="color: black"><span>{{product.productPrice.symbol}}{{product.productPrice.price}}</span></label>
        <div class="controls">
          <input formControlName="quantity" type="number" class="span1" placeholder="Qty."/>
          <button (click)="onAddProductToCart()" type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
        </div>
      </div>

    <hr class="soft"/>
<!--    <h4>100 items in stock</h4>-->

      <div class="control-group">
        <label class="control-label"><span style="color: black">Color</span></label>
        <div class="controls">
          <select formControlName="color" class="span2">
            <option *ngFor="let color of product.colors">{{color}}</option>
          </select>
        </div>
      </div>
    </form>
    <hr class="soft clr"/>
    <p>
      {{product.description}}
    </p>
    <ng-container *ngIf="secService.hasRoleIn(['ADMIN'])">
       <button (click)="onEditProduct()" class="btn btn-large btn-danger pull-right"> Edit product <i class=" icon-edit"></i></button>
    </ng-container>
    <br class="clr"/>
    <a href="#" name="detail"></a>
    <hr class="soft"/>
  </div>

</ng-container>
